{% extends 'user/index.html' %}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Change password</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Change password</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    

    <section id="contact" class="contact">
      <div class="container">
        <h3>Change password</h3>
        <div class="row mt-5" data-aos="fade-up">
          {% if messages %}
            {% for message in messages %}
            <h6 class="alert alert-success">{{message}}</h6>       
            {% endfor %}
        {% endif %}         
          <div class="col-lg-6">
            <form method="post" acction="/change_password/" id="myform" class="shadow-lg p-3 bg-white rounded">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label for="cpassword" class="form-label">Current pasword</label>
                    <input type="password" class="form-control" name="current_password" id="cpassword" required>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label for="cpassword" class="form-label">Pasword</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label for="cpassword" class="form-label">Confirm Pasword</label>
                    <input type="password" class="form-control" name="cpas" id="cpas"  required>
                </div>
                <div class="mt-2">
                  <button type="submit" class="btn btn-success">Submit</button>
              
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'Validation/jquery_validate.js' %}"></script>
  <script src="{% static 'Validation/additional_validate.js' %}"></script>
  
  <script>
      (function ($, W, D)
      {
      var JQUERY4U = {};
      JQUERY4U.UTIL =
      {
      setupFormValidation: function ()
      {
      $.validator.addMethod(
      "regex",
      function(value, element, regexp) {
      var check = false;
      return this.optional(element) || regexp.test(value);
      },
      "Not a valid Input."
      );
      
      //form validation rules
      $("#myform").validate({
      ignore: [],
      rules: {
                  
              password: {
                          required: true,
                           regex : /^[A-Za-z0-9@#*]+$/,
                           minlength: 5,
                          maxlength: 15,
          
                      },
                  cpas: {
                      required: true,
                         regex : /^[A-Za-z0-9@#*]+$/,
                         minlength: 5,
                        maxlength: 15,
                    equalTo: "#password"
      
                  },
                  
                  
                },
                messages: {
  
                  password: "Please Enter Valid Password Name(8-15 digit alphanumeric  password  and must include @#*!%^& special character,any Number",
                  cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                  
      },
      submitHandler: function (form) {
      form.submit();
      }
      });
      }
      }
      //when the dom has loaded setup form validation rules
      $(D).ready(function ($) {
      JQUERY4U.UTIL.setupFormValidation();
      });
      })(jQuery, window, document);
      </script>
{% endblock content %}