{% extends 'master/index.html' %}
{% load static %}
{% block content %}

<div class="h3 mb-3 border-bottom py-2">Service request</div>
<div class="row">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">{{message}}</div>       
  {% endfor %}
{% endif %}
    {% if data %}
    <div class="col-md-12">
        
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Service</th>
                <th>Service request details</th>
                <th>Location</th>
                <th>User details</th>
                <th>Assign worker</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.service.service_name}}</td>
                <td>
                    <b>{{i.title}}</b> <br>
                    {{i.description}}
                </td>
                <td>
                    State : {{i.district.state.state}} <br>
                    District : {{i.district.district}} <br>
                    Palce : {{i.place}} 
                    
                </td>
                <td>
                    Name : {{i.user.name}} <br>
                    Email : {{i.user.email}} <br>
                    Contact number : {{i.user.contact_number}} <br>
                    Address : {{i.user.address}}
                </td>
                <td><a href="/worker_assign?sr_id={{i.sr_id}}" class="btn btn-sm btn-primary">Assign</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
            
    </div>
    {% else %}
    <div class="col-md-12">
      <h5>Not found new request</h5>
    </div>
    {% endif %}
  </div>
     
{% endblock content %}
