{% extends 'worker/index.html' %}
{% load static %}
{% block content %}


<div class="h3 mb-3 border-bottom py-2">Change password</div>
<div class="row">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">{{message}}</div>       
  {% endfor %}
{% endif %}
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="card-body">
          <form class="forms-sample" method="post" id="myform" action="/change_password/">
            {% csrf_token %}
            <div class="form-group">
              <label for="">Change password</label>
              <input type="password" class="form-control" name="current_password" id="cpassword" required>
            </div>
            <div class="form-group">
                <label for="">New password</label>
                <input type="password" name="password" id="password" required class="form-control" >
            </div>
            <div class="form-group">
                <label for="">Confirm password</label>
                <input type="password" name="cpas" id="cpas" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'Validation/jquery_validate.js' %}"></script>
  <script src="{% static 'Validation/additional_validate.js' %}"></script>
  <script>
      (function ($, W, D)
      {
      var JQUERY4U = {};
      JQUERY4U.UTIL =
      {
      setupFormValidation: function ()
      {
      $.validator.addMethod(
      "regex",
      function(value, element, regexp) {
      var check = false;
      return this.optional(element) || regexp.test(value);
      },
      "Not a valid Input."
      );
      
      //form validation rules
      $("#myform").validate({
      ignore: [],
      rules: {
                  
              password: {
                          required: true,
                           regex : /^[A-Za-z0-9@#*]+$/,
                           minlength: 5,
                          maxlength: 15,
          
                      },
                  cpas: {
                      required: true,
                         regex : /^[A-Za-z0-9@#*]+$/,
                         minlength: 5,
                        maxlength: 15,
                    equalTo: "#password"
      
                  },
                  
                  
                },
                messages: {
  
                  password: "Please Enter Valid Password Name(8-15 digit alphanumeric  password  and must include @#*!%^& special character,any Number",
                  cpas: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                  
      },
      submitHandler: function (form) {
      form.submit();
      }
      });
      }
      }
      //when the dom has loaded setup form validation rules
      $(D).ready(function ($) {
      JQUERY4U.UTIL.setupFormValidation();
      });
      })(jQuery, window, document);
      </script>
{% endblock content %}